<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a href="/home" class="waves-effect">
                        <i class="ti-home"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="/orders" class="waves-effect">
                        <i class="ti-shopping-cart"></i>
                        <span>Orders</span>
                    </a>
                </li>

                <li>
                    <a href="categories" class=" waves-effect">
                        <i class="fas fa-database"></i>
                        <span>Categories</span>
                    </a>
                </li>

                <li>
                    <a href="sub-categories" class=" waves-effect">
                        <i class="fas fa-coins"></i>
                        <span>Sub Categories</span>
                    </a>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-cubes"></i>
                        <span>Products</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="add-product"><i class="ti-plus"></i>Add Product</a></li>
                        <li><a href="manage-product"><i class="ti-panel"></i>Manage Product</a></li>
<!--                        <li><a href="product-orders"><i class="ti-menu"></i>Product Orders</a></li>-->
                        <li><a href="units"><i class="typcn typcn-th-large"></i>Units</a></li>
                        <li><a href="taxes"><i class="ti-plus"></i>Taxes</a></li>
                    </ul>
                </li>

                <li>
                    <a href="home-slider-images" class=" waves-effect">
                        <i class="ti-image"></i>
                        <span>Home Slider Images</span>
                    </a>
                </li>

                <li>
                    <a href="new-offer-images" class=" waves-effect">
                        <i class="ti-gift"></i>
                        <span>New Offers Images</span>
                    </a>
                </li>

                <li>
                    <a href="promo-codes" class=" waves-effect">
                        <i class="dripicons-tags"></i>
                        <span>Promo Codes</span>
                    </a>
                </li>

                <li>
                    <a href="featured-section" class=" waves-effect">
                        <i class="ti-layout"></i>
                        <span>Featured Sections</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-user"></i>
                        <span>Customers</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="customers"><i class="ti-user"></i>Customers</a></li>
                        <li><a href="manage-customer-wallet"><i class="ti-stats-up"></i>Manage Customer Wallet</a></li>
                    </ul>
                </li>

                <li>
                    <a href="payment-requests" class=" waves-effect">
                        <i class="ti-money"></i>
                        <span>Payment Requests</span>
                    </a>
                </li>

                <li>
                    <a href="return-requests" class=" waves-effect">
                        <i class="ti-back-right"></i>
                        <span>Return Requests</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-id-badge"></i>
                        <span>Delivery Boys</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="manage-delivery-boys"><i class="ti-panel"></i>Manage Delivery Boys</a></li>
                        <li><a href="fund-transfers"><i class="ti-money"></i>Fund Transfers</a></li>
                    </ul>
                </li>

                <li>
                    <a href="send-notification" class=" waves-effect">
                        <i class="ti-announcement"></i>
                        <span>Send Notification</span>
                    </a>
                </li>

                <li>
                    <a href="transaction" class=" waves-effect">
                        <i class="ti-exchange-vertical"></i>
                        <span>Transaction</span>
                    </a>
                </li>

                <li>
                    <a href="wallet-transactions" class=" waves-effect">
                        <i class="ti-wallet"></i>
                        <span>Wallet Transactions</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-settings"></i>
                        <span>System</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="store-settings"><i class="ti-settings"></i>Store Settings</a></li>
                        <li><a href="payment-methods"><i class="ti-credit-card"></i>Payment Methods</a></li>
                        <li><a href="time-slots"><i class="ti-time"></i>Time Slots</a></li>
                        <li><a href="notification-settings"><i class="ti-comment-alt"></i>Notification Settings</a></li>
                        <li><a href="contact-us"><i class="ti-headphone-alt"></i>Contact Us</a></li>
                        <li><a href="privacy-policy"><i class="ti-clipboard"></i>Privacy Policy</a></li>
                        <li><a href="about-us"><i class="ti-info-alt"></i>About Us</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-location-pin"></i>
                        <span>Locations</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="cities"><i class="ti-location-arrow"></i>Cities</a></li>
                        <li><a href="areas"><i class="ti-location-arrow"></i>Areas</a></li>
                    </ul>
                </li>

                <li>
                    <a href="zoom-meeting" class=" waves-effect">
                        <i class="ti-wallet"></i>
                        <span>Zoom Meeting</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->