<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Rtl Layout | Veltrix - Responsive Bootstrap 4 Admin Dashboard
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="public/images/favicon.ico" />

    <%- HeaderCss %>
    <!-- Bootstrap Css -->
    <link
      href="public/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link href="public/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link
      href="public/css/app-rtl.min.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body data-sidebar="dark">
    <div id="layout-wrapper">
      <% include ./Partials/Vertical/Header %> <% include
      ./Partials/Vertical/Sidebar %>
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <% include ./Partials/Settings %> <%- body %>
          </div>
        </div>
        <% include ./Partials/Footer %>
      </div>
    </div>
    <% include ./Partials/RightbarRtl %> <% include ./Partials/FooterScript %>
    <%- FooterJs %>
    <!-- App js -->
    <script src="public/js/app-rtl.js"></script>
    <%- BottomJs %>
  </body>
</html>
